body {
  font: 12px;
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 250px;
  width: 220px;
}
.game-info {
  margin-left: 20px;
}
canvas {
  border: 1px solid black;
}
